@import url('../fonts.css');
@import url('../font-presets.css');

:root {

	/* Font Sizes */	  
	--section-title-size: calc(70px + (350 - 70) * ((100vw - 375px) / (1920 - 375)));
	--section-title-top: calc()

}

	h1 {
		margin: 0;
	}

	/* Font Preset for Section Title */
	section#about-title h1 {
		font-family: AZ;
		font-size: var(--section-title-size);
		line-height: var(--section-title-size);
		text-align: center;
		text-transform: uppercase;
	}










	div#about-header h1{
		color: white;
		font-family: HaasGroteskDisplay;
		font-weight: 45;
		/* 30px at 375px ---to--- 120px at 1920px; */
		font-size: calc(30px + (120 - 30) * ((100vw - 375px) / (1920 - 375)));
		line-height: calc(30px + (120 - 30) * ((100vw - 375px) / (1920 - 375)));;
		text-transform: uppercase;
	}

	div#about-information > p {
		color: white;
		font-family: HaasGroteskDisplay;
		font-weight: 55;
		/* 25px to 14px */
		font-size: calc(14px + (25 - 14) * ((100vw - 375px) / (1920 - 375)));
		line-height:  calc((14px + (25 - 14) * ((100vw - 375px) / (1920 - 375))) * 1.5);
	}

		div#about-information > p:nth-child(1) {
			text-align: right;
		}





/* 
    Formula
    You only need to change the first 3 in the middle part of the clamp function 
    And the first and the last in the outermost clamp function
*/

/* 120px at 1440 width to 20px at 480 width */
/*  clamp(20px ,calc(20px + (120 - 20) * (100vw - 480px) / (1440 - 480)), 120px) */

/* 120px at 1440 width to 20px at 480 width */

/* Card Width */
/* 400px at 1440 width to 280x at 480 width */
/*  clamp(280px ,calc(280px + (400 - 280) * (100vw - 480px) / (1440 - 480)), 400px) */

/* Card Height */
/* 750px at 1440 width to 522x at 480 width */
/*  clamp(522px ,calc(522px + (750 - 522) * (100vw - 480px) / (1440 - 480)), 750px) */


/* Card Padding */
/* 25px at 1440 width to 20x at 480 width */
/*  clamp(20px ,calc(20px + (25- 20) * (100vw - 480px) / (1440 - 480)), 25px) */


/* Card Photo Icon */
/* 74px at 1440 width to 58px at 480 width */
/*  clamp(58px ,calc(58px + (74 - 58) * (100vw - 480px) / (1440 - 480)), 74px) */

/* Card Photo Font Size */
/* 48px at 1440 width to 28px at 480 width */
/* clamp(28px ,calc(28px + (48 - 28) * (100vw - 480px) / (1440 - 480)), 48px) */